.info-section {
  &__mars {
    @include flexbox(column, flex-start, stretch);
    background: $color--background-card;
    box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);

    @media (min-width: $screen-size--m) {
      flex-direction: row;

      &:nth-of-type(odd) {
        @media (min-width: $screen-size--m) {
          flex-direction: row-reverse;
        }
      }
    }

    &__text-container {
      @include flexbox(column, center, start);
      flex: $take-half;
      padding: 20px;

      @media (min-width: $screen-size--m) {
        align-self: center;
        justify-self: center;
        padding: 0;
        margin: 2em 4em;
      }

      @media (min-width: $screen-size--L) {
        min-height: 300px;
      }

      &__titel {
        margin: 0;
      }
    }

    &__img-container {
      @include flexbox(row, center, center);
      position: relative;
      flex: $take-half;

      &__img {
        max-width: 158px;
        max-height: 158px;
        padding: 15px;
      }
    }
  }
}
