.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  transition: all 0.9s ease-in;

  @media (min-width: $screen-size--L) {
    display: grid;
    grid-template-rows: 200px auto auto;
    grid-template-columns: auto 0.82fr;
    justify-self: center;
    gap: 2em;
    padding: 0 6em 0 6em;
  }

  article + article {
    margin-top: 20px;

    @media (min-width: $screen-size--L) {
      margin-top: 0;
    }
  }

  &__titel {
    grid-row: 1;
    grid-column: span 2;
    padding: 20px;
    margin: 0;
    text-align: center;
    color: $color--text-muted;

    @media (min-width: $screen-size--m) {
      padding: 100px 0;
    }
  }
}
