$color--background-main: #f1f1f1;
$color--background-card: #ffffff;
$color--background-accent-dark: #061b38;
$color--background-accent-light: #2c4f80;

$color--text-main: #323232;
$color--text-white: #ffffff;
$color--text-pop: #e32700;
$color--text-pop-muted: #f97c7c;
$color--text-muted: #2c4f80;

$color--decor: #2c4f80;

$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--extra-bold: 800;

$screen-size--s: 600px;
$screen-size--m: 768px;
// $screen-size--L: 992px;
$screen-size--L: 1200px;

$take-half: 1 1 50%;
